@import url("https://fonts.googleapis.com/css2? family= Oswald & family= Radio+Canada:ital,wght@0,300;1,300 & display=swap");
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap');

:root {
  --cor-fundo-nav: rgba(21, 71, 148, 0.8);
  --fonte-text: Radio Canada;
  --fonte-titulo: Nunito, sans-serif;
  --cor-fonte: #000000;
  --cor-fundo-main: linear-gradient(-180deg, #fae791, #ffffcc);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: var(--fonte-text);
  color: var(--cor-fonte);
}

.container {
  width: 1140px;
  max-width: 100%;
  margin: auto;
}

nav {
  width: 100%;
  float: left;
  background-color: var(--cor-fundo-nav);
  position: absolute;
}

nav h1 img {
  width: 80px;
  float: left;
}

nav h1 {
  float: left;
}

ul {
  float: right;
}

nav ul li {
  display: inline;
  list-style: none;
  padding-right: 20px;
  padding: 35px 15px;
  float: left;
  
}

ul li a {
  color: rgb(255, 255, 255);
  padding: 6px 26px;
  border: 4px solid transparent;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bolder;
}

ul li a:hover {
  color: #ff6633;
}

header{
  background-image: url("../img/fundo_site.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; 
}

.tamanho_img {
  max-width: 50%;
  margin: auto;
  padding: 150px 10px 150px 10px;
}

header img{
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.clearfix{
  overflow: auto;
}

.clearfix::after{
  content: "";
  clear: both;
  display: table;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class *= "col-"] {
  float: left;
  padding: 15px;
}

img{
  width: 100%;
}

#divider{
  background-image: url("../img/sdv_divider.png");
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  height: 541px;
}

main{
  background: var(--cor-fundo-main);
}

.content_title{
  padding-top: 10px;
  color: rgb(0, 71, 128);
  font-family: var(--fonte-titulo);
  font-size: 40px; 
  display: block;
  text-align: center;
}

::-webkit-scrollbar{
  width: 10px;
}

::-webkit-scrollbar-thumb{
  background-color: rgba(21, 80, 170, 0.914);
  border-radius: 15px;
}